@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Adam and Dave in their hotel room at 2am after cutover has taken a U turn</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <!-- Add your image here -->
    <img src="https://i.pinimg.com/736x/ff/f7/5e/fff75ea0b6582280f4794f02d31fd88f.jpg" alt="barry white">
</div>
