@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">🎉 Congratulations to Matthew Coleman! 🎉</h1>
        <p class="lead">You've achieved PL500! Keep up the amazing work!</p>
        <hr class="my-4">
        <p>Explore the world of <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a> and unleash your potential.</p>
        <div>Host operating system: @Model.OSVersion</div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.flexmind.co/wp-content/uploads/2022/09/Power-Automate-RPA-Developer-420x420-1.png" alt="boss man">
        <div class="card-body">
            <h5 class="card-title">The man, the myth</h5>
            <p class="card-text">The coleman!</p>
        </div>
    </div>
</div>
