@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Matthew Coleman appreciation page - thanks for buying us drinks :)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <!-- Add your image here -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Brewdog_bar_in_Camden.jpg/800px-Brewdog_bar_in_Camden.jpg" alt="barry white">
</div>
