@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Matthew Coleman waking up tomorrow morning</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <!-- Add your image here -->
    <img src="blob:https://www.bing.com/fef089e0-d4fd-4266-ba27-a8c82cc7a9b8" alt="barry white">
</div>
