<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HomePage.aspx.cs" Inherits="YourNamespace.HomePage" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div class="text-center">
        <div class="jumbotron">
            <h1 class="display-4">🎉 Congratulations to Matthew Coleman! 🎉</h1>
            <p class="lead">You've achieved PL500! Keep up the amazing work!</p>
            <hr class="my-4">
            <p>Explore the world of <a href="https://learn.microsoft.com/en-us/credentials/certifications/power-automate-rpa-developer-associate">POWER AUTOMATE</a> and unleash your POWER.</p>
            <div>Host operating system: Windows</div> <!-- Replace with static content -->
        </div>
        <div id="floatingImageContainer" style="position: relative;">
            <img class="floatingImage" src="https://www.flexmind.co/wp-content/uploads/2022/09/Power-Automate-RPA-Developer-420x420-1.png" alt="PL500" style="max-width: 200px; position: absolute;">
            <img class="floatingImage" src="https://vladtalkstech.com/wp-content/uploads/2019/10/100519_0005_MS100StudyG1.png" alt="Image 1" style="max-width: 200px; position: absolute;">
            <img class="floatingImage" src="https://www.whizlabs.com/blog/wp-content/uploads/2023/04/MS-700-exam.webp" alt="Image 2" style="max-width: 200px; position: absolute;">
            <img class="floatingImage" src="https://th.bing.com/th/id/R.3a08cb6a3b9072b0dea1ddcb69c510ca?rik=0uo%2fuuusGwcLrw&riu=http%3a%2f%2fwww.thefamouspeople.com%2fprofiles%2fimages%2fbarry-white-4.jpg&ehk=uVWyfjdC37WgMZ94iRl2O%2bC0axjVW9RvwYOoPj4aTEA%3d&risl=&pid=ImgRaw&r=0" alt="Image 3" style="max-width: 200px; position: absolute;">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var images = $('.floatingImage');
            var container = $('#floatingImageContainer');

            var screenHeight = $(window).height();
            var screenWidth = $(window).width();

            var bounceDistance = 50;
            var animationDuration = 200; // Decreased animation duration for faster movement

            function getRandomPosition() {
                var top = Math.random() * (screenHeight - $(this).height());
                var left = Math.random() * (screenWidth - $(this).width());
                return { top: top, left: left };
            }

            function getRandomSize() {
                var size = Math.random() * 100 + 100; // Random size between 100px and 200px
                return size;
            }

            function bounceImage(image) {
                var position = getRandomPosition.call(image);
                var size = getRandomSize();
                image.animate({
                    top: position.top,
                    left: position.left,
                    width: size,
                    height: size
                }, animationDuration, 'swing', function() {
                    bounceImage(image);
                });
            }

            images.each(function() {
                bounceImage($(this));
            });
        });
    </script>
</body>
</html>
