@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">David Badu appreciation page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <!-- Add your image here -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Barry_White%2C_Bestanddeelnr_927-0098_%28cropped%29.jpg/800px-Barry_White%2C_Bestanddeelnr_927-0098_%28cropped%29.jpg" alt="barry white">
</div>
