<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="YourNamespace._Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Guess The Number</title>
    <script runat="server">
        protected void Page_Load(object sender, EventArgs e)
        {
            if (!IsPostBack)
            {
                // Generate a random number between 1 and 100
                Random random = new Random();
                int randomNumber = random.Next(1, 101);

                // Store the random number in a session variable
                Session["RandomNumber"] = randomNumber;
            }
        }

        protected void btnGuess_Click(object sender, EventArgs e)
        {
            // Retrieve the random number from the session variable
            int randomNumber = Convert.ToInt32(Session["RandomNumber"]);

            // Get the user's guess
            int userGuess = Convert.ToInt32(txtGuess.Text);

            // Check if the guess is correct, too high, or too low
            if (userGuess == randomNumber)
            {
                lblResult.Text = "Congratulations! You guessed the correct number.";
            }
            else if (userGuess < randomNumber)
            {
                lblResult.Text = "Too low! Try again.";
            }
            else
            {
                lblResult.Text = "Too high! Try again.";
            }
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>Guess The Number Game</h1>
            <asp:Label ID="lblResult" runat="server" Text=""></asp:Label>
            <br />
            <asp:TextBox ID="txtGuess" runat="server"></asp:TextBox>
            <asp:Button ID="btnGuess" runat="server" Text="Guess" OnClick="btnGuess_Click" />
        </div>
    </form>
</body>
</html>
