@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">David Badu appreciation page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <!-- Add your image here -->
    <img src="https://th.bing.com/th/id/OIP.vC9dSa7TXf7AepGl8Cx3RAHaF0?w=244&h=192&c=7&r=0&o=5&pid=1.7" alt="barry white">
</div>
